<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="com.example.springbootwebrestful.dao.UserDao">

	<!--返回的结果集，用于关联实体类属性和数据库字段 -->
	<!--如果实体类属性和数据库属性名保持一致，就不需要javaType和jdbcType（必须大写）属性 -->
	<resultMap id="userbase" type="com.example.springbootwebrestful.entities.User">
		<result column="ID" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="FULLNAME" property="fullName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="SHIRTNAME" property="shirtName" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="passWord" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="CREATDATE" property="creatdate" javaType="java.util.Date" jdbcType="DATE"/>

	</resultMap>
	
	<!-- 查询数据 -->
	<!-- 入参定义：在接口定义中使用@Param注解(单参/多参都可使用) -->
	<!-- 语句末尾不能有分号：ORA-00911: invalid character -->
	<select id="login" parameterMap="java.util.Map" resultMap="userbase">
		select t.ID, t.FULLNAME, t.SHIRTNAME, t.PASSWORD, t.CREATDATE from scott.user_info t where 1=1
		<if test="fullName != null">
			and t.FULLNAME= #{fullName}
		</if>
		<if test="passWord != null">
			and t.EMPNO = #{passWord}
		</if>
		order by t.ID
	</select>
</mapper>